<h1>Employees</h1>

<div id="employees">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Manager</th>
      </tr>
    </thead>
    <tbody>
      <tr is="employee-row" v-for="employee in employees" :employee="employee">
      </tr>
      <tr>
        <td>
          <!-- Input -->
          <input type="text" v-model="employee.name"><br>
          <!-- Validation errors -->
          <span style="color:red">{{ errors.name }}</span>
        </td>
        <td>
          <!-- Input -->
          <input type="text" v-model="employee.email"><br>
          <!-- Validation errors -->
          <span style="color:red">{{ errors.email }}</span>
        </td>
        <td><input type="checkbox" v-model="employee.manager"></td>
        <!-- button click calls hireEmployee -->
        <td><button @click="hireEmployee">Hire</button></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/x-template" id="employee-row">
  <tr v-if="editMode">
    <td>
      <div>
        <input type="text" v-model="employee.name"><br>
        <span style="color:red">{{ errors.name }}</span>
      </div>
    </td>
    <td>
      <div>
        <input type="text" v-model="employee.email"><br>
        <span style="color:red">{{ errors.email }}</span>
      </div>
    </td>
    <td>
      <div>
        <input type="checkbox" v-model="employee.manager">
      </div>
    </td>
    <td>
      <button @click="updateEmployee">Save</button>
    </td>
  </tr>
  <tr v-else>
    <td>{{ employee.name }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.manager }}</td>
    <button @click="editMode = true">Edit</button>
    <button @click="toggleManagerStatus">{{ employee.manager ? 'Demote' : 'Promote' }}</button>
    <button @click="fireEmployee" style="color:red">Fire</button>
  </tr>
</script>